#data td:hover {
  background-color: rgb(244, 225, 15);
}

#data td:nth-child(1), #data td:nth-child(4){
  cursor: pointer
}

#data tr:nth-child(odd) {
  background: rgb(240, 239, 239);
}

#data tr:nth-child(even) {
  background: rgb(211, 210, 210);
}

td.egg:hover {
  /* background-color: aqua; */
}